body {
    margin: 0;
    font-family: alegreya serif;
}
/* Headern som syns högst upp på sidan får en bakgrundsfärg och responsiv höjd och bredd.*/
header {
    background-color: hsl(317, 0%, 35%);
    width: 100vw;
    height: 15vh;
}
nav{
    position: relative;
    width: 30vw;
    top: 4vh;
    left: 15vw;
}
.Dropdown{
    display: inline-block;
    position: relative;
}
.Dropdown-content{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.Dropdown:hover .Dropdown-content{
    display: block;
}
ul{
    list-style-type: none;
    height: 5vh;
}
li{
    display: inline-block;
    padding: 10px;
    border-right: 2px solid black;
}
a{
    font-size: 4ex;
    text-decoration: none;
    color: hsl(0, 100%, 100%);
}
/* Shl loggan som ligger i headern får sina mått och placeras i mitten av bredden. */
#Shl{
    position: absolute;
    width: 12vh;
    height: 12vh;
    top: 30px;
    left: 50%
}
aside.left { 
    background-color: hsl(194, 35%, 68%);
    width: 15vw;
    height: 70vh;
    float: left;
}
aside.right { 
    background-color: hsl(194, 35%, 68%);
    width: 15vw;
    height: 70vh;
    float: right;
}
/* Huvudinnehållet får en bakgrundsbild som placeras i mitten och täcker 70% av bredden. Den sätts på repeat för att täcka hela ytan. */
main {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(317, 0%, 80%);
    width: 70vw;
    height: 70vh;
    background-repeat: repeat;
}

footer{
    background-color: hsl(317, 0%, 35%);
    width: 100vw;
    height: 15vh;
}